#sidebar {
	float: left;
	width: 208px;
}
.menu {
	position: relative;
	border-bottom: 1px solid #ccc;
	padding: 10px 0 10px 0px;
}
.menu .icon {
	position: absolute;
	top: 18px;
	left: 28px;
	width: 28px;
	height: 28px;
}
.menu li{
	
}
.menu li.title {

	padding: 10px 0 0 50px;
}

.menu a {
	display: inline-block;
	/*width: 100%;*/
	height: 25px;
	line-height: 25px;
	padding: 0 0 0 50px;
}
.menu li.active {
	background-color: #658FBD;
	color:#fff;
}
.menu li:hover {
	background-color: blue;
}
.menu li.title:hover {
	background-color: #fff;
}
.menu a:hover{
		color: #fff;
}
.menu .info{
	color:red;
	padding-left:10px;
}