#container {
	margin: 20px auto;
	border: 1px solid #CCCCCC; width: 1210px;
	height: 500px;
	background-color: #FFF;
}

#container .content {
	text-align: center;
	color: #A0A0A0;
	font-size: 22px;
}

#container .content .image {
	margin:0 auto 20px;
	width:224px;
	height:180px;
	background: url('../images/page_error.png') 0 -120px no-repeat;
}