<?xml version="1.0" encoding="GBK"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <javaee:display-name>wechatadmin</javaee:display-name>
  <context-param>
    <javaee:param-name>webContext</javaee:param-name>
    <javaee:param-value>/wechatadmin</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>log4jRefreshInterval</javaee:param-name>
    <javaee:param-value>60000</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>log4jConfigLocation</javaee:param-name>
    <javaee:param-value>/WEB-INF/log4j.xml</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>webAppRootKey</javaee:param-name>
    <javaee:param-value>wechatdmin.root</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>contextConfigLocation</javaee:param-name>
    <javaee:param-value>
			classpath*:/config-spring/spring-context.xml
		</javaee:param-value>
  </context-param>
  <servlet>
    <servlet-name>system</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <javaee:param-name>detectAllHandlerAdapters</javaee:param-name>
      <javaee:param-value>false</javaee:param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>system</servlet-name>
    <url-pattern>/system/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <javaee:param-name>encoding</javaee:param-name>
      <javaee:param-value>UTF-8</javaee:param-value>
    </init-param>
    <init-param>
      <javaee:param-name>forceEncoding</javaee:param-name>
      <javaee:param-value>true</javaee:param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>requestParamLogFilter</filter-name>
    <filter-class>snnu.wechat.framework.log.web.RequestParamLogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>requestParamLogFilter</filter-name>
    <url-pattern>/system/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>MDCFilter</filter-name>
    <filter-class>snnu.wechat.framework.log.web.MDCFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MDCFilter</filter-name>
    <url-pattern>/system/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <javaee:param-name>targetFilterLifecycle</javaee:param-name>
      <javaee:param-value>true</javaee:param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/system/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <listener>
    <javaee:listener-class>org.springframework.web.util.Log4jConfigListener</javaee:listener-class>
  </listener>
  <listener>
    <javaee:listener-class>org.springframework.web.context.ContextLoaderListener</javaee:listener-class>
  </listener>
  <listener>
    <javaee:listener-class>org.springframework.web.context.request.RequestContextListener</javaee:listener-class>
  </listener>
  <listener>
    <javaee:listener-class>
			org.springframework.web.util.IntrospectorCleanupListener
		</javaee:listener-class>
  </listener>
  <session-config>
    <session-timeout>240</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>400</error-code>
    <location>/WEB-INF/jsp/400.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/jsp/50x.jsp</location>
  </error-page>
  <error-page>
    <error-code>505</error-code>
    <location>/WEB-INF/jsp/50x.jsp</location>
  </error-page>
  <error-page>
    <exception-type>org.apache.shiro.authz.AuthorizationException</exception-type>
    <location>/WEB-INF/jsp/unauthorized.jsp</location>
  </error-page>
</web-app>